# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
*.pyc

# Virtual Environment
/env
.env
.venv/
/app/.venv/

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Database
*.db
*.sqlite3